<% @comments.reverse.each do |comment| %>

  <tr>
    <td>
      <p><%= comment.content %></p>
    </td>
    <td>
      Rated <%= comment.rating %> Stars!
    <br />
    </td>
    <td>
    <% if current_user %>
      <%= button_to 'Delete', product_comment_path(@product, comment), action: 'destroy', id:comment.id, method: :delete %>
    <% end %>
    </td>
  </tr>
<% end %>